@model CellPhoneConnection.NhaSanXuat
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutForAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Chinh sua 1 Nha San Xuat</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">Thông tin chi tiết:</a>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            @using (Html.BeginForm("Edit", "QuanLyNSX", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="id">ID Nha san xuat:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id" name="a_IDNhaSX" value="@Model.a_IDNhaSX" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="TenNhaSanXuat">Tên Nhà sản xuất:</label>
                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="TenNhaSanXuat" name="a_TenNhaSX" value="@Model.a_TenNhaSX">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Cập nhật</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


